 #bouton{
    width: 20%;
    margin-left: 200px;
    background-color:aqua ;
    border-radius: 60px;
    padding: 7px;
}
p{
    text-align: center;
    font-size: 34px;
   
}
#inscription{
   display: flex;
   justify-content: center;
   align-items: center;
 }

#pseudo{
height: 50%;
}
form{
display: flex;
flex-direction: column;
width: 40%;
height: 100px;
}
label{
    text-align: center;
    font-size: 20px;
    height: 10px;
    color: white;
}
#class1{
    padding: 10px;
    border-radius: 10px;
}
#class2{
    padding: 50px;
    border-radius: 15px;
} 
#form{
    display: flex;
    justify-content: center;
}
body{
    background-color: blue;
}