/* formulaire */
#content_autre{
    display: flex;
    width: 70%;
}
.div_form {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    margin: 2% 0%;
    font-size: 30px;
    background-color: rgb(238, 96, 96);
    border-radius: 10px;
}


input {
    font-size: 20px;
}

.bouton2 {
    width: 32%;
    height: 60px;
    background-color: brown;
    font-size: 100%;
    border-radius: 20px;
    margin: 10% 30%;
    border: 3px solid black;
}
#prenom_manquant{
    font-size: 15px;
}
#nom_manquant{
    font-size: 15px;
}
#tel_manquant{
    font-size: 15px;
}
#email_manquant{
    font-size: 15px;
}
